<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478947849418-om4hur277kutmptq576pm1jkpo8c08ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478947849418-om4hur277kutmptq576pm1jkpo8c08ud</string>
	<key>API_KEY</key>
	<string>AIzaSyC0lV0nVCJBPANNow17nFcDTGrQVM3fR6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>478947849418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-backend-94e10</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-backend-94e10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478947849418:ios:2a5d3b19ebe3debf1cb033</string>
</dict>
</plist>